body{
   display: flex;
   align-items: center;
   flex-direction: column;
   background-color:  #223843;
   
}
h1{
   color: #E0E0E2;
}
.optionsDiv{
   display: flex;
   flex-direction: row;
   align-items: stretch;
   background-color: #B5BAD0;
   margin: 2rem;
  

}
.sketcharea{
  display:flex;
  justify-content: center;
  align-items: center;
  width: 600px;
  height:  600px;
 
   
}
.prompt,.reset{
   display: flex;
   justify-content: flex-start;
   margin: 15px;
   padding: 1em;
   
   border: #223843;
   border-radius: 4px;
}
.row{
   
   flex-direction: column;
   
   
}
.box{
   border: 1px solid black;
   /* width: 25px;
   height: 25px; */
   /* flex: 0 1 auto; */
   background-color:#81D2C7 ;
   box-sizing: border-box;

}
